body {
 
  font-family: Arial, sans-serif;
  
}

header {
  text-align: center;
  padding: 20px 0;
  }
  

main {
  display: flex;
  justify-content: center;
  padding:20px;
}

section {
   
   margin:10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
    position: relative; 
    box-sizing:border-box;
}

.section-title {
  position: absolute;
  top:0px;
  right: 0px;
  margin:0px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.section-content {
   padding:20px;
  
}

@media (max-width: 767px) {
  section {
   width:100%;
  }
}

@media(min-width:768px) and(max-width:991px){
  section{
    width:50%;
    float:left;
    }
  }
  section:nth-child(3){
    width:100%;
    float:none;
  }
  
  @media (min-width:992px){
    section{
      witdth:33.33%
      float:left;
    }
  }

.title1{
	background-color: #FFE4C4;
}

.title2{
	background-color: #DC143C;
}

.title3{
	background-color: #FFDAB9;
}

